<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Contact Page</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.2783500554556!2d88.42902937428701!3d22.568690433115588!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0275a38c95edfb%3A0x5f95acf3cc48628d!2sEjobindia%20IT%20%26%20Software%20Training%20Institute!5e0!3m2!1sen!2sin!4v1787139622623!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe>
    <br>
    <a href="{% url 'homepage' %}">Back</a>
</body>
</html>